body{
    font-family: Arial;
}

.container{
    display:grid;
    /* grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%; */
    /* grid-template: filas/columnas; */
    /* grid-template: 300px 100px 100px/ repeat(4, 1fr); */
    /* grid-template: 300px 100px 100px/ repeat(4, minmax(200px, 1fr)); */
    grid-template:  100px 1fr 100px/ 200px 1fr ;
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    /* grid-gap: Filas/columnas */
    grid-gap: 10px;
    height: 100vh;
    grid-template-areas: "header header" 
                         "left content" 
                         "footer footer";
    
    
    
}

.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid red;
}

.item:nth-of-type(4){
    background: blue;
    overflow: auto;
    display: grid;
    grid-template: repeat(3, 200px)/ repeat(3, 200px);
}

.item .item {
    background: chartreuse;
}

.header{
    grid-area: header;
}
.left{
    grid-area: left;
}
.content{
    grid-area: content;
}
.footer{
    grid-area: footer;
}